.opacityZero {
  opacity: 0;
}

.toggleTh {
  cursor: pointer;
}

.toggleTh:hover {
  background: #ececec;
}




table {
  position: relative;
}


.ttitle {
  background: white !important;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1 !important;
}